<template>
  <div class="address-bg" @click="close">
    <div class="address-wrap" :class="{into: into}" @click.stop>
      <div class="address-header">
        <div class="left">
          <div class="select" id="area">
            <p class="text" @click="tabSelect('province')">{{provinceName}}</p>
            <p class="text" @click="tabSelect('city')">{{cityName}}</p>
            <p class="text" @click="tabSelect('area')">{{areaName}}</p>
          </div>
          <span class="bottom-line" :style="{width: lineWidth,left: lineLeft}"></span>
        </div>
        <div class="button">
          <p class="text" @click="confirm">确定</p>
        </div>
      </div>
      <div class="address-bottom">
        <div class="address-cell-wrap">
          <div v-if="areaGrade === 'province'">
            <p class="address-cell" v-for="item in province" :class="{active: item.name === provinceName}" :key="item.sid" @click="selectArea(item, 'province')">{{item.name}}</p>
          </div>
          <div v-if="areaGrade === 'city'">
            <p class="address-cell" v-for="item in city" :class="{active: item.name === cityName}" :key="item.sid" @click="selectArea(item, 'city')">{{item.name}}</p>
          </div>
          <div v-if="areaGrade === 'area'">
            <p class="address-cell" v-for="item in area" :class="{active: item.name === areaName}" :key="item.sid" @click="selectArea(item, 'area')">{{item.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// 一个参数一个方法
// 参数为已有的地址的sid
// areaData:{
//      areaSid: sid
// }
// emit-address
// 方法用于接收选择的地址
// data:{
//      areaSid     选择的地址的sid
//      mergedName  选择的地址的组合
// }
// import api from '../utils/api'
import area from './area'
export default {
  props: ['areaData'],
  data () {
    return {
      areaGrade: 'province',
      provinceName: '省份',
      cityName: '城市',
      areaName: '区县',
      lineWidth: null,
      lineLeft: null,
      data: {
        areaSid: '',
        mergedName: ''
      },
      into: false,
      province: area.province,
      city: [],
      area: []
    }
  },
  created () {
    /*
    this.getProv()
    if (this.areaData.areaSid) {
      this.getChain(this.areaData.areaSid)
    }
    */
  },
  mounted () {
    this.into = true
    this.setLinePosition('province')
  },
  methods: {
    /*
    getProv () {
      this.$http.get(api.areaProvinces, {
        headers: {
          'api-ver': '1.0.0',
          'channel': 'ooo_PJ'
        }
      }).then(response => {
        if (response.code === 200) {
          this.province = response.data
        }
      })
    },
    */
    /*
    getProvChildren (sid, type) {
      this.$http.get(api.areaParent + sid, {
        headers: {
          'api-ver': '1.0.0'
        }
      }).then(response => {
        if (response.code === 200) {
          this[type] = response.data[0].children
        }
      })
    },
    */
    /*
    getChain (sid) {
      this.$http.get(api.areaChain + sid, {
        headers: {
          'api-ver': '1.0.0',
          'channel': 'ooo_PJ'
        }
      }).then(response => {
        if (response.code === 200) {
          this.provinceName = response.data[0].name
          this.cityName = response.data[1].name
          this.areaName = response.data[2].name
          this.data.areaSid = response.data[2].sid
          this.data.mergedName = response.data[2].mergedName
          this.getProvChildren(response.data[0].sid, 'city')
          this.getProvChildren(response.data[1].sid, 'area')
          this.areaGrade = 'area'
          setTimeout(() => {
            this.setLinePosition('area')
          }, 100)
        }
      })
    },
    */
    tabSelect (type) {
      if (!this[type]) {
        return false
      }
      this.areaGrade = type
      setTimeout(() => {
        this.setLinePosition(type)
      }, 100)
    },
    selectArea (item, type) {
      let next = ''
      if (type === 'province') {
        next = 'city'
        if (this[type + 'Name'] !== item.name) {
          this.cityName = '城市'
          this.areaName = '区县'
          /*
          this.city = null
          this.area = null
          */
          // console.log(item)
          this.city = area.city.filter(value => value.provinceSid === item.sid)
          // console.log(this.city)
          this.data.areaSid = ''
        }
      } else if (type === 'city') {
        next = 'area'
        if (this[type + 'Name'] !== item.name) {
          this.areaName = '区县'
          /*
          this.area = null
          */
          this.area = area.area.filter(value => value.provinceSid === item.provinceSid && value.citySid === item.sid)
          this.data.areaSid = ''
        }
      } else if (type === 'area') {
        next = 'area'
        this.data.areaSid = item.sid
        // this.data.mergedName = item.mergedName
      }
      this.areaGrade = next
      setTimeout(() => {
        this.setLinePosition(next)
      }, 100)
      if (this[type + 'Name'] === item.name) return false
      this[type + 'Name'] = item.name
      /*
      if (type === 'area') return
      this.getProvChildren(item.sid, next)
      */
    },
    setLinePosition (type) {
      let i = {province: 0, city: 1, area: 2}
      let area = document.getElementById('area').getElementsByClassName('text')
      this.lineWidth = (area[i[type]].clientWidth - 16) + 'px'
      this.lineLeft = (area[i[type]].offsetLeft + 8) + 'px'
    },
    confirm () {
      if (!this.data.areaSid) {
        this.$toast('请选择省市区')
        return false
      }
      this.into = false
      setTimeout(() => {
        console.log(this.provinceName, this.cityName, this.areaName)
        this.data.mergedName = `${this.provinceName}${this.cityName}${this.areaName}`
        this.$emit('emit-address', this.data)
      }, 200)
    },
    close () {
      this.into = false
      setTimeout(() => {
        this.$emit('emit-address', 'close')
      }, 200)
    }
  }
}
</script>
<style lang="scss" type="text/scss">
  $color: #b4282d;
  .address-bg{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1;
    .address-wrap{
      background: #fff;
      width: 100%;
      height: 0;
      position: fixed;
      bottom: 0;
      left: 0;
      transition: height .2s;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      &.into{
        height: 50%;
      }
      .address-header{
        display: flex;
        border-bottom: 1px solid #d9d9d9;
        padding: 0 12px;
        .left{
          flex: 1;
          position: relative;
          .select{
            display: flex;
            .text{
              max-width: 33.33%;
              display: -webkit-box;
              overflow : hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              padding: 0 8px;
              color: #333;
              font-size: .3rem;
              line-height: .8rem;
            }
          }
          .bottom-line{
            position: absolute;
            bottom: 0;
            height: 3px;
            background: $color;
            transition: all 0.1s ease-in-out;
          }
        }
        .button{
          .text{
            padding: 0 10px;
            font-size: .3rem;
            line-height: .8rem;
            color: #8c8c8c;
          }
        }
      }
      .address-bottom{
        flex: 1;
        position: relative;
        .address-cell-wrap{
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: auto;
          overflow-y: scroll;
          padding: 15px 12px;
          .address-cell{
            padding: 0 8px;
            color: #333;
            height: .8rem;
            font-size: .3rem;
            line-height: .8rem;
            &.active{
              color: $color;
            }
          }
        }
      }

    }
  }
</style>
