<template>
  <div class="customer-service">
    <div class="cs-box container-align">
      <img src="../assets/images/customer-server.png" alt=""/>
    </div>
    <!--<img src="../assets/images/61.png" alt=""/>
    <div class="f-size24 color-7c mar-center" style="width: 6rem;">扫一扫，关注Nutri-Future客服，查询方案及订单，了解优惠活动，咨询营养问题及VIP等，统统打包在这里。我在这里等你哟~</div>-->
  </div>
</template>
<script>
export default {
  name: 'customer-service',
  created () {
    this.$setDocumentTitle('客服')
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss">
  .customer-service{
    position: fixed;
    top: 0;
    left: 50%;
    width: 7.5rem;
    margin-left: -3.75rem;
    height: 100%;
    .cs-box {
      justify-content: center;
      height: 100%;
      width: 100%;
      img {
        width: 6.56rem;
        height: 9.89rem;
        background-image: url("../assets/images/61.png");
      }
    }
    background-color: #ededed;
  }
</style>
