<template>
  <div class="index">
    <div class="top">
      <div class="title text-center">
        <img src="../assets/images/17.png" alt=""/>
      </div>
      <div class="title2 text-center">量身定制  营养小包</div>
      <div class="title3 text-center">P E R S O N A L I Z E D  &nbsp;&nbsp;&nbsp;&nbsp;  V I T A M I N  &nbsp;&nbsp; P A C K S</div>
      <div class="title4">
        <div>精选GNC、Swisse等国际品牌</div>
        <div>国家注册营养师量身定制营养方案</div>
      </div>
      <div class="title5">
        <span style="font-size: 0.88rem">30</span><span style="margin-right: 0.3rem;font-size: 0.24rem">包/月</span>
        <span style="font-size: 0.88rem">1</span><span style="font-size: 0.24rem">包/天</span>
      </div>
      <div class="btn">
        <div class="text-center" @click="next">开始定制</div>
      </div>
    </div>
    <div class="quality">
      <div class="container quality-title">
        <div class="quality-title-label"></div> <div class="quality-title-txt">品质</div> <div class="quality-title-txt2">BETTER INGREDIENTS</div>
      </div>
      <div class="brand-logo text-center">
        <img src="../assets/images/21.png" alt=""/>
      </div>
      <div class="quality-brand-txt f-size26 mar-center">香港大学教授团队领衔, 精选GNC,Swisse,Throne </div>
      <div class="quality-brand-txt f-size26 mar-center" style="margin-top: 0.1rem;"> Nature's bounty,等国际大牌中最优质产品</div>
      <ul style="margin-top: 0.3rem;list-style: disc;padding-left: 1.15rem;" type="disc">
        <li class="quality-txt-list f-size26">所有产品均通过国内外顶级标准认证</li>
        <li class="quality-txt-list f-size26">所有产品均选用医学级的包装材料</li>
        <li class="quality-txt-list f-size26">所有产品均经过国家营养食品质监中心检测</li>
      </ul>
    </div>
    <div class="customized">
      <div class="customized-title container-align">
        <div class="customized-title-label"></div>
        <div>
          <div class="customized-title-txt f-size36">量身定制</div>
          <div class="customized-title-txt2 f-size32">PERSONALIZED FOR YOU</div>
        </div>
      </div>
      <div class="customized-list">
        <div class="container" style="justify-content: space-between;">
          <div class="customized-list-item">
            <img src="../assets/images/10.png" alt=""/>
            <div class="customized-list-item-txt text-center">睡眠差?</div>
          </div>
          <div class="customized-list-item">
            <img src="../assets/images/14.png" alt=""/>
            <div class="customized-list-item-txt text-center">压力大?</div>
          </div>
          <div class="customized-list-item">
            <img src="../assets/images/15.png" alt=""/>
            <div class="customized-list-item-txt text-center">皮肤差?</div>
          </div>
        </div>
        <div class="container" style="justify-content: space-between;margin-top: 0.3rem">
          <div class="customized-list-item">
            <img src="../assets/images/18.png" alt=""/>
            <div class="customized-list-item-txt text-center">眼睛干?</div>
          </div>
          <div class="customized-list-item">
            <img src="../assets/images/16.png" alt=""/>
            <div class="customized-list-item-txt text-center">消化差?</div>
          </div>
          <div class="customized-list-item">
            <img src="../assets/images/13.png" alt=""/>
            <div class="customized-list-item-txt text-center">口腔溃疡?</div>
          </div>
        </div>
      </div>
      <div class="text-center customized-tips f-size24">针对12种常见问题，Nutri-Future深入进行营养<br/>学研究，为您量身定制营养方案。</div>
      <div class="customized-btn mar-center text-center" @click="next">定制营养品</div>
    </div>
    <div class="team">
      <div class="team-title container-align">
        <div class="team-title-label"></div>
        <div class="team-title-txt f-size36">团队</div>
        <div class="team-title-txt2 f-size32">TEAM</div>
        <!--
        <img src="../assets/images/19.png" style="margin-right: 0.3rem" alt=""/>
        <img src="../assets/images/2.png" alt=""/>
         -->
      </div>
      <swipe></swipe>
    </div>
    <div class="index-bottom-beside">
      <div class="container-align index-bottom bg-white">
        <div class="index-bottom-item text-center">
          <img src="../assets/images/6.png" alt=""/>
          <div class="index-bottom-item index-bottom-item-active">首页</div>
        </div>
        <div class="index-bottom-item text-center" @click="next">
          <img src="../assets/images/12.png" alt=""/>
          <div class="index-bottom-item" >定制</div>
        </div>
        <div class="index-bottom-item text-center" @click="toCustomerService">
          <img src="../assets/images/11.png" alt=""/>
          <div class="index-bottom-item">客服</div>
        </div>
      </div>
    </div>
    <div style="height: 1.2rem"></div>
  </div>
</template>
<script>
import swipe from './Swipe.vue'
/*
 import http from '../utils/http'
 import api from '../utils/api'
 import web from '../assets/url/web'
 */
export default {
  name: 'index',
  components: { swipe },
  data () {
    return {

    }
  },
  methods: {
    next () {
      this.$router.push('/start-question')
    },
    toCustomerService () {
      this.$router.push('/customer-service')
    }
  },
  mounted () {
    this.$setDocumentTitle('定制营养')
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss" scoped>
  .index{
    .index-bottom-beside {
      z-index: 999;
      position: fixed;
      bottom: 0;
      width: 7.5rem;
      margin-left: -3.75rem;
      left: 50%;
      .index-bottom {
        height: 1.3rem;
        .index-bottom-item {
          width: 2.5rem;
          img {
            width: 0.48rem;
            height: 0.48rem;
            margin-bottom: 0.04rem;
          }
          .index-bottom-item{
            font-size: 0.22rem;
            color: #9C9D9D;
          }
          .index-bottom-item-active{
            color: #F97369;
          }
        }
      }
    }
    padding-bottom: 0.3rem;
    .top {
      position: relative;
      width: 7.5rem;
      height: 9.76rem;
      background-image: url("../assets/images/22.png");
      background-size: cover;

      .title {
        padding-top: 0.7rem;
        img {
          width: 1.59rem;
          height: 0.39rem;
        }
      }
      .title2 {
        font-size: 0.64rem;
        font-weight: 500;
        color: #ffffff;
        margin-top: 0.4rem;
      }
      .title3 {
        color: #ffffff;
        font-size: 0.16rem;
        font-weight: 100;
        margin-top: 0.2rem;
      }
      .title4 {
        padding-left: 3rem;
        margin-top: 0.7rem;
        font-size: 0.24rem;
        color: #ffffff;
      }
      .title5 {
        color: #ffffff;
        padding-left: 3rem;
        margin-top: 0.3rem;
      }
      .btn {
        padding-left: 5rem;
        margin-top: 0.3rem;
        div.text-center {
          background-color: white;
          width: 1.9rem;
          line-height: 0.62rem;
          border-radius: 0.31rem;
          color: #F97369;
          font-size: 0.28rem;
        }
      }
    }
    .quality{
      .quality-title{
        align-items: center;
        height: 2rem;
        padding-left: 0.3rem;
        .quality-title-label{
          height: 0.42rem;
          width: 0.08rem;
          margin-right: 0.3rem;
          background-color: #F97369;
          border-radius: 0.06rem;
        }
        .quality-title-txt{
          font-size: 0.36rem;
          margin-right: 0.3rem;
          color: #494848;
          line-height: 0.42rem;
          font-weight: bold;
        }
        .quality-title-txt2{
          font-size: 0.32rem;
          color: #494848;
          line-height: 0.42rem;
        }
      }
      .brand-logo{
        height: 3.16rem;
        margin-bottom: 0.6rem;
        img{
          width: 5.33rem;
          height: 3.16rem;
        }
      }
      .quality-brand-txt{
        width: 6rem;
        color: #444242;
        white-space: nowrap;
        font-weight: bold;
      }
      .quality-txt-list{
        color: #605F5F;
        list-style: disc;
      }
    }
    .customized{
      background-color: #2A3950;
      margin-top: 0.7rem;
      padding-bottom: 0.5rem;
      .customized-title{
        padding: 0.7rem 0 0.7rem 0.6rem;
        .customized-title-label{
          height: 0.88rem;
          width: 0.08rem;
          background-color: #F97369;
          margin-right: 0.3rem;
          border-radius: 0.06rem;
        }
        div{
          .customized-title-txt{
            color: #F97369;
          }
          .customized-title-txt2{
            color: #8B9097;
            margin-top: 0.15rem;
          }
        }
      }
      .customized-list{
        padding: 0.1rem 1.16rem 0.1rem 1.16rem;
        .customized-list-item{
          width: 1.1rem;
          height: 2.2rem;
          img{
            width: 1.1rem;
            height: 1.1rem;
          }
          .customized-list-item-txt{
            font-size: 0.22rem;
            color: #ffff;
            margin-top: 0.3rem;
          }
        }
      }
      .customized-tips{
        color: #8B9097;
        margin-top: 0.3rem;
        line-height: 0.4rem;
      }
      .customized-btn{
        width: 2.5rem;
        line-height: 0.74rem;
        border-radius: 0.38rem;
        background-color: #F97369;
        color: #ffffff;
        margin-top: 0.5rem;
      }
    }
    .team-title{
      height: 2rem;
      padding-left: 0.3rem;
      img {
        height: 1.8rem;
        width: 1.8rem;
      }
      .team-title-label{
        height: 0.42rem;
        width: 0.08rem;
        margin-right: 0.3rem;
        background-color: #F97369;
        border-radius: 0.06rem;
      }
      .team-title-txt{
        color: #494848;
        font-weight: bold;
        margin-right: 0.3rem;
      }
      .team-title-txt2{
        color: #494848;
        margin-right: 0.6rem;
      }
    }
  }
</style>
