<template>
  <div class="input-name-over">
    <div class="text-center" style="height: 6rem;overflow: hidden; ">
      <img class="gif" src="../assets/images/62.gif" alt=""/>
    </div>
    <div class="text-center" style="font-size: 0.42rem;margin-top: 0.5rem">
      <span class="opt" :class="{'animate': i > 0}" style="color: #F97369">Greeting ~</span> &nbsp;
      <span class="opt" :class="{'animate': i > 1}" style="color: #494848">{{name}}</span>
    </div>
    <div :class="{'animate': i > 2}" class="f-size30 text-center opt" style="color: #686668;margin-top: 0.2rem;">转角相遇, 期待更健康的你</div>
  </div>
</template>animate
<script>
export default {
  name: 'input-name-over',
  data () {
    let name = decodeURIComponent(window.localStorage.getItem('name'))
    return {
      name,
      timer: null,
      interTimer: null,
      i: 0
    }
  },
  watch: {
    i () {
      console.log(this.i)
    }
  },
  mounted () {
    this.$setDocumentTitle('定制营养')
    if (!window.localStorage.getItem('name')) {
      this.$router.push('/input-name')
    }
    window.q = 0
    this.interTimer = setInterval(() => {
      this.i++
      if (this.i >= 3) clearInterval(this.interTimer)
    }, 1000)
    this.timer = setTimeout(() => this.$router.push('/menu-question/0'), 5000)
  },
  methods: {
    next () {
      clearTimeout(this.timer)
      this.$router.push('/menu-question')
    }
  },
  beforeDestroy () {
    if (this.timer) clearTimeout(this.timer)
    if (this.interTimer) clearInterval(this.interTimer)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss">
.input-name-over{
  .gif{
    height: 8.73rem;
    width: 4.89rem;
  }
  .opt{
    opacity: 0;
    transition: opacity 1s;
  }
  .animate{
    opacity: 1;
  }
  @keyframes myfirst
  {
    0%{opacity:0;}
    100%{opacity:1;}
  }
}
</style>
