<template>
  <div class="input-name">
    <div class="input-name-img">
      <div class="title-txt text-center f-size46">怎么称呼您？</div>
      <div class="input-name-input text-center">
        <input class="text-center" v-model="name" type="text" @blur="scrollTop" @focus="scrollTop"/>
      </div>
      <div class="tips-txt text-center f-size26">(您的称呼将被印在补充剂袋子上)</div>
    </div>
    <div class="input-name-btn mar-center color-white text-center f-size36" @click="next">确 定</div>
  </div>
</template>
<script>
export default {
  name: 'input-name',
  data () {
    let name = ''
    if (window.localStorage.getItem('name')) {
      name = decodeURIComponent(window.localStorage.getItem('name'))
    }
    return {
      name
    }
  },
  methods: {
    scrollTop () {
      window.scrollTo(0, 0)
    },
    next () {
      if (!this.name) {
        this.$toast('请输入姓名')
        return
      }

      window.localStorage.setItem('name', encodeURIComponent(this.name))
      this.$router.push('/input-name-over')
    }
  },
  created () {
    this.$setDocumentTitle('定制营养')
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss">
  .input-name{
    padding-top: 1rem;
    .input-name-img{
      width: 100%;
      height: 7.72rem;
      background-image: url("../assets/images/24.png");
      background-size: cover;
      .title-txt{
        text-align: center;
        color: #4E545D;
        font-weight: bold;
        padding-top: 2.1rem;
      }
      .input-name-input{
        padding-top: 1.3rem;
        input {
          width: 3.56rem;
          height: 1.2rem;
          font-size: 0.48rem;
          color: #464A50;
          border: none;
          outline: none;
        }
      }
      .tips-txt {
        color: #A0A6AE;
        margin-top: 0.16rem;
      }
    }
    .input-name-btn{
      background-color: #F97369;
      line-height: 0.88rem;
      width: 3.92rem;
      border-radius: 0.45rem;
      margin-top: 0.3rem;
    }
  }
</style>
