<template>
  <div class="menu-question">
    <div class="menu-question-choose menu-question-choose1 container-align" v-if="active === 0" @click="next(0)">
      <div style="padding-left: 0.6rem">
        <div class="f-size46 color-white">基础信息</div>
        <div class="f-size24 color-white">Basic Information</div>
      </div>
    </div>
    <div class="base-info mar-center container-align" v-else @click="next(0)">
      <div class="base-info-txt f-size40">基础信息</div>
      <div class="base-info-txt2 f-size24">Basic Information</div>
    </div>
    <div class="menu-question-choose menu-question-choose2 container-align" v-if="active === 1" @click="next(1)">
      <div style="padding-left: 0.6rem">
        <div class="f-size46 color-white">营养目标</div>
        <div class="f-size24 color-white">Nutritional Goals</div>
      </div>
    </div>
    <div class="base-info mar-center container-align" v-else @click="next(1)">
      <div class="base-info-txt f-size40">营养目标</div>
      <div class="base-info-txt2 f-size24">Nutritional Goals</div>
    </div>
    <div class="menu-question-choose menu-question-choose3 container-align" v-if="active === 2" @click="next(2)">
      <div style="padding-left: 0.6rem">
        <div class="f-size46 color-white">生活习惯</div>
        <div class="f-size24 color-white">Lifestyle Behaviours</div>
      </div>
    </div>
    <div class="base-info mar-center container-align" v-else @click="next(2)">
      <div class="base-info-txt f-size40">生活习惯</div>
      <div class="base-info-txt2 f-size24">Lifestyle Behaviours</div>
    </div>
    <div class="menu-question-choose menu-question-choose4 container-align" v-if="active === 3" @click="next(3)">
      <div style="padding-left: 0.6rem">
        <div class="f-size46 color-white">身体状况</div>
        <div class="f-size24 color-white">Physical Conditions</div>
      </div>
    </div>
    <div class="base-info mar-center container-align" v-else @click="next(3)">
      <div class="base-info-txt f-size40">身体状况</div>
      <div class="base-info-txt2 f-size24">Physical Conditions</div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'menu-question',
  data () {
    return {
      active: -1,
      timer: null,
      interTimer: null
    }
  },
  methods: {
    next (e) {
      // if (this.active === e) this.$router.push('/question/' + e)
    }
  },
  created () {
    this.$setDocumentTitle('定制营养')
    console.log(window.localStorage.getItem('name'))
    if (!window.localStorage.getItem('name')) {
      this.$router.push('/input-name')
    }
    this.timer = setTimeout(() => {
      this.active = Number(this.$route.params.type)
      this.interTimer = setTimeout(() => {
        this.$router.push('/question/' + this.active + '/' + window.q)
      }, 3000)
    }, 1000)
  },
  beforeDestroy () {
    if (this.timer) clearTimeout(this.timer)
    if (this.interTimer) clearInterval(this.interTimer)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss">
.menu-question{
  padding-top: 1rem;
  .base-info{
    width: 6.18rem;
    line-height: 1.38rem;
    box-shadow: 0 -5px 10px #f5f5f5;
    border-radius: 0.1rem;
    margin-top: 0.1rem;
  }
  .base-info-txt{
    color: #5B6169;
    padding-left: 0.6rem;
    margin-right: 0.3rem;
  }
  .base-info-txt2{
    color: #464C53;
  }
  .menu-question-choose{
    width: 6.18rem;
    height: 1.63rem;
    background-size: cover;
    margin-top: 0.2rem;
    .f-size46.color-white{
      margin-bottom: 0.1rem;
    }
  }
  .menu-question-choose1{
    margin: 0.2rem auto;
    background-image: url("../assets/images/26.png");
  }
  .menu-question-choose2{
    margin: 0.2rem auto;
    background-image: url("../assets/images/27.png");
  }
  .menu-question-choose3{
    margin: 0.2rem auto;
    background-image: url("../assets/images/28.png");
  }
  .menu-question-choose4{
    margin: 0.2rem auto;
    background-image: url("../assets/images/29.png");
  }
}
</style>
