<template>
  <div class="nutrition-target">
    <div class="container-justf">
      <div class="f-size24" @click="previous">上一题</div>
      <div class="progress">
        <div class="progress-inner" :style="'width: 5.26rem'" v-if="(q + 1) === questionNumber"></div>
        <div class="progress-inner" :style="'width: ' + (q + 1)/questionNumber*5.26 + 'rem'" v-else></div>
      </div>
      <div>
        <span class="f-size26" style="color: #605F5F;">{{q + 1}}</span><span class="f-size20" style="color: #7D7C7C;">/{{questionNumber}}</span>
      </div>
    </div>
    <div class="f-size36 question-title text-center mar-center">请选择你的营养目标</div>
    <div class="f-size24 text-center mar-center question-sub-title">你可以选1~4个目标，每个目标约1~4个问题</div>
    <div class="question-title-line mar-center"></div>
    <div class="select-content mar-center">
      <div class="select-item" v-for="(i, j) in nutritionTargetView" v-bind:key="j" @click="doChoose(j)">
        <div class="select-item-img mar-center text-center" :class="{ 'select-item-img-active': i.choose }">
          <img :src="i.imgActive" alt="" v-if="i.choose"/>
          <img :src="i.img" alt="" v-else/>
        </div>
        <div class="select-item-txt f-size26 text-center" :class="{ 'select-item-txt-active': i.choose }">{{i.content}}</div>
      </div>
    </div>
    <div class="question-btn-beside">
      <div class="question-btn mar-center color-white text-center f-size36" @click="next" :class="{'gray-question-btn': len === 0}">确定</div>
    </div>
    <div style="height: 1.2rem"></div>
  </div>
</template>
<script>
export default {
  name: 'nutrition-target',
  data () {
    return {
      nutritionTarget: [
        {
          name: '皮肤/抗衰老',
          choose: false,
          img: require('../assets/images/a0.png'),
          imgActive: require('../assets/images/b0.png')
        },
        {
          name: '大脑',
          choose: false,
          img: require('../assets/images/a1.png'),
          imgActive: require('../assets/images/b1.png')
        },
        {
          name: '精力',
          choose: false,
          img: require('../assets/images/a2.png'),
          imgActive: require('../assets/images/b2.png')
        },
        {
          name: '消化',
          choose: false,
          img: require('../assets/images/a3.png'),
          imgActive: require('../assets/images/b3.png')
        },
        {
          name: '免疫力',
          choose: false,
          img: require('../assets/images/a4.png'),
          imgActive: require('../assets/images/b4.png')
        },
        {
          name: '睡眠',
          choose: false,
          img: require('../assets/images/a5.png'),
          imgActive: require('../assets/images/b5.png')
        },
        {
          name: '口腔健康',
          choose: false,
          img: require('../assets/images/a6.png'),
          imgActive: require('../assets/images/b6.png')
        },
        {
          name: '预防痛风',
          choose: false,
          img: require('../assets/images/a7.png'),
          imgActive: require('../assets/images/b7.png')
        },
        {
          name: '健身',
          choose: false,
          img: require('../assets/images/a8.png'),
          imgActive: require('../assets/images/b8.png')
        },
        {
          name: '眼睛',
          choose: false,
          img: require('../assets/images/a9.png'),
          imgActive: require('../assets/images/b9.png')
        },
        {
          name: '情绪/压力/抑郁',
          choose: false,
          img: require('../assets/images/a10.png'),
          imgActive: require('../assets/images/b10.png')
        },
        {
          name: '头发',
          choose: false,
          img: require('../assets/images/a11.png'),
          imgActive: require('../assets/images/b11.png')
        }
      ],
      nutritionTargetView: [],
      len: 0,
      q: 8,
      questionNumber: 0
    }
  },
  methods: {
    previous () {
      window.q = 7
      this.q = window.q
      this.questionObj = window.questionArr[window.q]
      this.$router.back(-1)
    },
    doChoose (j) {
      if (this.len === 4 && !this.nutritionTargetView[j].choose) return
      this.nutritionTargetView[j].choose = !this.nutritionTargetView[j].choose
      let m = this.nutritionTargetView
      this.nutritionTargetView = []
      this.nutritionTargetView = m
      window.chooseTarget = []
      this.nutritionTargetView.forEach(value => {
        if (value.choose) {
          window.chooseTarget.push(value)
        }
      })
      this.len = window.chooseTarget.length
    },
    next () {
      if (!this.len) {
        this.$toast('请选择营养目标')
      } else {
        window.chooseTarget = []
        this.nutritionTargetView.forEach(value => {
          if (value.choose) {
            window.chooseTarget.push(value)
          }
        })
        let ids = ''
        window.chooseTarget.forEach((value, index) => {
          if (index === 0) ids = value.id
          else ids += ',' + value.id
        })
        window.questionArr[8].value = ids
        window.questionArr[9].option = window.chooseTarget
        window.q = 9
        console.log(window.questionArr)
        window.questionArrSecondHalf = []
        this.$router.push('/question/1/9')
      }
    }
  },
  created () {
    this.$setDocumentTitle('定制营养')
    if (!window.localStorage.getItem('name')) this.$router.push('/input-name')
    console.log(window.questionArr)
    this.len = window.chooseTarget.length
    window.q = 8
    let m = window.questionArr.length
    if (m === 0) this.$router.push('/')
    this.questionNumber = m < 20 ? 40 : m
    if (window.questionArr && window.questionArr[window.q]) {
      this.nutritionTargetView = this.nutritionTarget.map((value, index) => Object.assign(window.questionArr[window.q].option[index], value))
    }
    let obj = JSON.parse(JSON.stringify(this.nutritionTargetView))
    window.chooseTarget.forEach((v) => {
      obj.forEach((value, index) => {
        if (v.choose && v.id === value.id) {
          obj[index].choose = true
        }
      })
    })
    this.nutritionTargetView = []
    this.nutritionTargetView = obj
    console.log(obj)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss">
.nutrition-target{
  padding-top: 1rem;
  .question-btn-beside {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    left: 0;
    .question-btn {
      background-color: #F97369;
      line-height: 0.88rem;
      width: 3.92rem;
      border-radius: 0.45rem;
      margin-top: 0.3rem;
    }
    .gray-question-btn{
      background-color: #d9d9d9;
    }
  }
  .progress{
    width: 5.26rem;
    height: 0.26rem;
    background-color: #F5F5F5;
    margin: 0 0.1rem;
    border-radius: 0.14rem;
    overflow: hidden;
    .progress-inner{
      width: 1rem;
      height: 100%;
      background-color: #F97369;
    }
  }
  .question-title{
    width: 5.86rem;
    color: #494848;
    padding: 0.3rem 0 0.1rem 0;
    margin-top: 0.3rem;
  }
  .question-sub-title{
    color: #686668;
    margin-bottom: 0.4rem;
  }
  .question-title-line{
    background-color: #F97369;
    width: 0.5rem;
    height: 0.08rem;
    border-radius: 0.06rem;
    margin-bottom: 0.6rem;
  }
  .select-content{
    width: 6.6rem;
    .select-item{
      display: inline-block;
      width: 2.2rem;
      height: 2.4rem;
      .select-item-img{
        width: 0.94rem;
        height: 0.94rem;
        line-height: 0.94rem;
        background-color: #eee;
        border-radius: 50%;
        margin-bottom: 0.2rem;
        img {
          width: 0.5rem;
          height: 0.5rem;
          vertical-align: middle;
        }
      }
      .select-item-img-active{
        background-color: #F97369;
      }
      .select-item-txt{
        color: #4E545D;
      }
      .select-item-txt-active{
        color: #F97369;
      }
    }
  }
}
</style>
