<template>
  <div class="order">
    <div style="background-color: #F5F5F5">
      <div class="order-tips mar-center f-size30">国家注册营养师将根据您的营养目标和身体情况，为您量身定制每日营养补充剂。</div>
    </div>
    <div style="padding: 0.3rem 0;background-color: #F5F5F5">
      <div class="nutrition mar-center">
        <div style="padding-left: 2.4rem">
          <div class="nutrition-title f-size32">定制营养补充包</div>
          <div class="container">
            <div class="point-beside container-align">
              <div class="point"></div>
            </div>
            <div class="f-size24 nutrition-txt">包括维生素、矿物质、益生菌、草本类或特殊补充剂</div>
          </div>
          <div class="container">
            <div class="point-beside container-align">
              <div class="point"></div>
            </div>
            <div class="f-size24 nutrition-txt">均选自国际知名品牌最优质产品</div>
          </div>
          <div class="f-size20" style="margin-top: 0.16rem"><span>30袋/盒</span>&nbsp;&nbsp;<span>1袋/天</span></div>
        </div>
      </div>
    </div>
    <div class="goods-type">
      <div class="container-align goods-type-title">
        <div class="label"></div>
        <div class="f-size36">选择套餐种类</div>
      </div>
      <div class="goods-type-list mar-center">
        <div class="goods-type-list-title f-size28">高效版套餐</div>
        <div class="container" style="justify-content: space-between">
          <div class="goods-type-list-item text-center" v-for="i in goods1" :key="i.id" @click="chooseGoods(i)" :class="{'active': active === i.id}">
            <div class="f-size28" style="margin-bottom: 0.2rem">{{i.time}}</div>
            <div class="f-size20" style="margin-bottom: 0.4rem;">数量: {{i.number}}袋</div>
            <div class="f-size32">¥ {{i.price}}</div>
          </div>
        </div>
        <div class="f-size20 goods-type-list-bottom">品牌包括：Nature's Bounty、Now Foods、Blackmores、Life space、Puritan、GNC、Swisse</div>
      </div>
      <div class="goods-type-list mar-center">
        <div class="goods-type-list-title f-size28">高效版Plus套餐 ( 更好品牌，私人营养师指导 ）</div>
        <div class="container" style="justify-content: space-between">
          <div class="goods-type-list-item text-center" v-for="i in goods2" :key="i.id" @click="chooseGoods(i)" :class="{'active': active === i.id}">
            <div class="f-size28" style="margin-bottom: 0.2rem">{{i.time}}</div>
            <div class="f-size20" style="margin-bottom: 0.4rem;">数量: {{i.number}}袋</div>
            <div class="f-size32">¥ {{i.price}}</div>
          </div>
        </div>
        <div class="f-size20 goods-type-list-bottom">品牌包括：Thorne、Now Foods、GNC、Puritan、Life Extension、Floradix、Enzymedica、Osteo、Nutural Factor、Hyperbiotics、Nature's Bounty</div>
      </div>
    </div>
    <div class="discount">
      <div class="container-align discount-title">
        <div class="discount-title-label"></div>
        <div class="discount-title-txt f-size36">优惠</div>
      </div>
      <div class="discount-img">
        <div class="container-align">
          <input class="f-size28 text-center" v-model="code" placeholder="请在此处输入优惠码" type="text"/>
          <div class="f-size32 discount-btn-gray" :class="{'discount-btn': code && (code.length === 9 || code.length === 6)}" @click="useCodeBeside">确认</div>
        </div>
      </div>
    </div>
    <div style="height: 2rem;"></div>
    <div class="order-bottom">
      <div class="container-align order-bottom-inner">
        <div class="total-txt f-size30">合计</div>
        <div class="order-settlement-price f-size36">
          <template v-if="price">￥{{price}}</template>
        </div>
        <div class="regular-price f-size34">
          <template v-if="regularPrice">￥{{regularPrice}}</template>
        </div>
        <div class="order-settlement-btn f-size32 text-center color-white" @click="next">结算</div>
      </div>
    </div>
  </div>
</template>
<script>
import api from '../utils/api'
import http from '../utils/http'
import { Indicator } from 'mint-ui'

export default {
  name: 'order',
  data () {
    return {
      isGetCode: true,
      active: 0,
      code: null,
      price: '',
      regularPrice: '',
      goods1: [
        {
          id: 1,
          time: '1个月',
          number: 30,
          price: '199'
        },
        {
          id: 2,
          time: '2个月',
          number: 60,
          price: '380'
        },
        {
          id: 3,
          time: '3个月',
          number: 90,
          price: '550'
        }
      ],
      goods2: [
        {
          id: 4,
          time: '1个月',
          number: 30,
          price: '699'
        },
        {
          id: 5,
          time: '2个月',
          number: 60,
          price: '1299'
        },
        {
          id: 6,
          time: '3个月',
          number: 90,
          price: '1888'
        }
      ],
      // isUseCode: false,
      formData: {
        wxId: this.$getQueryString('wxId'),
        tcContent: '',
        price: '',
        consignee: '',
        phone: '',
        address: '',
        useCode: '',
        answerContent: [
          {
            questionId: '',
            questionOptionId: ''
          }
        ]
      }
    }
  },
  watch: {
    code () {
      if (this.code.length > 6 && this.code.substr(4, 1) !== ' ') {
        let a = this.code.substr(0, 4)
        let b = this.code.substr(4)
        this.code = a + ' ' + b
      }
    }
  },
  methods: {
    useCodeBeside () {
      if (this.code && (this.code.length === 9 || this.code.length === 6)) {
        this.useCode()
      } else {
        this.$toast('优惠码不正确')
      }
    },
    async useCode () {
      if (!this.active) {
        this.$toast('请选择套餐')
        return
      }
      /*
      if (this.isUseCode) {
        this.$toast('已优惠')
        return
      }
      */
      Indicator.open('加载中...')
      this.isGetCode = false
      let res = await http.post(api.useCode, {
        wxId: this.$getQueryString('wxId'),
        price: this.formData.price,
        useCode: this.code.replace(/\s+/g, '')
      })
      if (res.status === 200 && res.data && res.data.data) {
        let m = res.data.data
        this.regularPrice = this.formData.price
        this.formData.useCode = this.code
        this.price = m.price
        // this.isUseCode = true
        // this.formData.price = m.price
      } else {
        this.$toast(res.data.message)
      }
      Indicator.close()
      this.isGetCode = true
      console.log(res)
    },
    chooseGoods (e) {
      this.active = e.id
      this.price = e.price
      this.formData.price = e.price
      if (this.code) this.useCode()
      switch (e.id) {
        case 1:
          this.formData.tcContent = '高效版套餐1月'
          break
        case 2:
          this.formData.tcContent = '高效版套餐2月'
          break
        case 3:
          this.formData.tcContent = '高效版套餐3月'
          break
        case 4:
          this.formData.tcContent = '高效版Plus套餐1月'
          break
        case 5:
          this.formData.tcContent = '高效版Plus套餐2月'
          break
        case 6:
          this.formData.tcContent = '高效版Plus套餐3月'
          break
      }
    },
    next () {
      if (!this.active) {
        this.$toast('请选择套餐')
        return
      }
      if (!this.isGetCode) {
        this.$toast('优惠折扣获取中')
        return
      }
      window.localStorage.setItem('formData', JSON.stringify(this.formData))
      this.$router.push('/payment')
    }
  },
  created () {
    console.log(window.questionArr)

    if (window.questionArr.length === 0) {
      this.$router.push('/')
    }

    this.formData.answerContent = window.questionArr.map((value) => {
      // console.log(value)
      if (value) {
        let v = value.value || '1'
        let inputVal = value.inputVal || '0'
        let id = value.id || '0'
        return {
          questionId: id.toString(),
          questionOptionId: v.toString(),
          inputVal: inputVal.toString()
        }
      }
    })
    console.log(this.formData)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss">
.order{
  .order-tips{
    width: 6.7rem;
    color: #494949;
    padding: 0.3rem 0;
  }
  .nutrition{
    background-image: url("../assets/images/56.png");
    width: 6.7rem;
    height: 3.08rem;
    background-size: cover;
    .nutrition-title{
      color: #F97369;
      font-weight: bold;
      padding: 0.4rem 0 0.2rem 0;
    }
    .point-beside {
      height: 0.4rem;
      .point {
        border-radius: 50%;
        width: 0.12rem;
        height: 0.12rem;
        background-color: #E5E5E5;
      }
    }
    .nutrition-txt{
      color: #3F3F3F;
      line-height: 0.4rem;
      padding-left: 0.2rem;
    }
  }
  .goods-type{
    .goods-type-title {
      color: #494848;
      padding: 0.6rem 0 0.3rem 0.3rem;
      .label{
        width: 0.1rem;
        height: 0.32rem;
        background-color: #F97369;
        border-radius: 0.06rem;
        margin-right: 0.3rem;
      }
    }
    .goods-type-list{
      width: 6.2rem;
      margin-bottom: 0.6rem;
      .goods-type-list-title{
        color: #494848;
        margin-bottom: 0.2rem;
      }
      .goods-type-list-item{
        width: 1.92rem;
        color: #817F7F;
        background-color: #EEEEEE;
        border-radius: 0.14rem;
        padding: 0.4rem 0;
      }
      .goods-type-list-item.active{
        background-color: #F97369;
        color: #ffffff;
      }
      .goods-type-list-bottom{
        color: #9C9B9B;
        margin-top: 0.2rem;
      }
    }
  }
  .discount{
    padding: 0 0.3rem;
    .discount-title{
      .discount-title-label{
        width: 0.1rem;
        height: 0.32rem;
        margin-right: 0.3rem;
        background-color: #F97369;
        border-radius: 0.06rem;
      }
      .discount-title-txt{
        color: #494848;
      }
    }
    .discount-img{
      height: 1.9rem;
      width: 6.9rem;
      /*
      background-image: url("../assets/images/55.png");
      */
      background-size: cover;
      margin-top: 0.5rem;
      .container-align {
        padding-top: 0.4rem;
        justify-content: center;
        input.f-size28.text-center{
          line-height: 0.7rem;
          border-radius: 0.4rem;
          width: 4.28rem;
          border: 0.02rem solid #cccccc;
          margin-right: 0.14rem;
        }
        .discount-btn-gray{
          color: #eeeeee;
        }
        .discount-btn{
          color: #F97369;
        }
      }
    }
  }
  .order-bottom{
    width: 7.5rem;
    position: fixed;
    bottom: 0;
    height: 1.6rem;
    left: 50%;
    margin-left: -3.75rem;
    .order-bottom-inner{
      background-color: white;
      height: 100%;
      justify-content: center;
      box-shadow: 0 -5px 6px #f5f5f5;
      .total-txt{
        color: #484747;
        margin-right: 0.3rem;
      }
      .order-settlement-price{
        color: #F97369;
        margin-right: 0.2rem;
        min-width: 1.2rem;
      }
      .regular-price{
        color: #494848;
        text-decoration: line-through;
        margin-right: 0.6rem;
        min-width: 1.2rem;
      }
      .order-settlement-btn{
        line-height: 0.8rem;
        border-radius: 0.4rem;
        width: 2.14rem;
        background-color: #F97369;
      }
    }
  }
}
</style>
