<template>
  <div class="payment">
    <div class="container-align payment-item mar-center">
      <div class="f-size32 payment-item-name">收 &nbsp;货 &nbsp;人：&nbsp;</div>
      <div class="f-size32 payment-item-inner">
        <input v-model="areaData.name" type="text"/>
      </div>
    </div>
    <div class="container-align payment-item mar-center">
      <div class="f-size32 payment-item-name">联系电话：&nbsp;</div>
      <div class="f-size32 payment-item-inner">
        <input v-model="areaData.phone" type="text" @blur="phoneBlur" maxlength="13"/>
      </div>
    </div>
    <div class="container-align payment-item mar-center" @click="emitAddress('open')">
      <div class="f-size32 payment-item-name">所在地区：&nbsp;</div>
      <div class="f-size32 payment-item-inner">{{areaData.mergerName}}</div>
      <img class="area" src="../assets/images/57.png" alt=""/>
    </div>
    <div class="container-align payment-item mar-center" style="border: none;">
      <div class="f-size32 payment-item-name">详细地址：&nbsp;</div>
      <div class="f-size32 payment-item-inner">
        <input type="text" v-model="areaData.address" placeholder="街道，楼牌号"/>
      </div>
    </div>
    <div class="container-align payment-btn mar-center" @click="next">
      <img src="../assets/images/58.png" alt=""/>
      <div class="color-white f-size36">微信支付</div>
    </div>
    <app-address v-if="areaShow" v-on:emit-address="emitAddress" :areaData="areaData"></app-address>
  </div>
</template>
<script>
import appAddress from './app-address.vue'
import api from '../utils/api'
import http from '../utils/http'
import { Indicator } from 'mint-ui'

export default {
  name: 'payment',
  components: { appAddress },
  data () {
    // let name = decodeURIComponent(window.localStorage.getItem('name'))
    return {
      areaShow: false,
      areaData: {
        name: '',
        phone: '',
        address: '',
        areaSid: '',
        mergerName: ''
      }
    }
  },
  methods: {
    phoneBlur () {
      if (this.areaData.phone.length === 11) {
        let a = this.areaData.phone.substr(0, 3)
        let b = this.areaData.phone.substr(3, 4)
        let c = this.areaData.phone.substr(7, 4)
        this.areaData.phone = a + ' ' + b + ' ' + c
      }
    },
    emitAddress (data) {
      if (data === 'open') {
        this.areaShow = true
        return false
      }
      if (data === 'close') {
        this.areaShow = false
        return false
      }
      this.areaData.areaSid = data.areaSid
      this.areaData.mergerName = data.mergedName
      this.areaShow = false
      console.log(this.areaData)
    },
    onValuesChange (picker, values) {
      if (values[0] > values[1]) {
        picker.setSlotValue(1, values[0])
      }
    },
    next () {
      let phone = ''
      if (this.areaData.phone) {
        phone = this.areaData.phone.replace(/\s+/g, '')
      }
      console.log(phone)
      if (!this.areaData.name) {
        this.$toast('请输入联系人姓名')
        return
      } else if (!this.areaData.phone) {
        this.$toast('请输入手机号')
        return
      } else if (!(/^1[3456789]\d{9}$/.test(phone))) {
        this.$toast('手机号码有误，请重填')
        return
      } else if (!this.areaData.mergerName) {
        this.$toast('请选择地址')
        return
      } else if (!this.areaData.address) {
        this.$toast('请输入详细地址')
        return
      }
      this.order(phone)
      // this.$router.push('/pay-result')
    },
    async order (phone) {
      Indicator.open('加载中...')
      let name = '无'
      if (window.localStorage.getItem('name')) {
        name = decodeURIComponent(window.localStorage.getItem('name'))
      }
      let formData = JSON.parse(window.localStorage.getItem('formData'))
      // if (!formData.wxId) formData.wxId = 5
      formData.phone = phone
      formData.name = name
      formData.consignee = this.areaData.name
      formData.address = this.areaData.mergerName + this.areaData.address
      formData.answerContent = JSON.stringify(formData.answerContent)
      console.log(formData)
      let res = await http.post(api.order, formData)
      if (res.status === 200 && res.data && res.data.result === 1) {
        let m = res.data.data.data
        Indicator.close()
        // eslint-disable-next-line
        if (!wx) return
        // eslint-disable-next-line
        wx.config({
          debug: false,
          appId: 'wx1a83f688511b9595',
          timestamp: m.timeStamp,
          nonceStr: m.nonceStr,
          signature: m.paySign,
          jsApiList: ['chooseWXPay']
        })
        // eslint-disable-next-line
        wx.ready( () => {
          // eslint-disable-next-line
          wx.chooseWXPay({
            timestamp: m.timeStamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
            nonceStr: m.nonceStr, // 支付签名随机串，不长于 32 位
            package: m.package, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=\*\*\*）
            signType: m.signType, // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
            paySign: m.paySign, // 支付签名
            success: (res) => {
              this.$router.push('/pay-result')
            }
          })
        })
      } else {
        Indicator.close()
        this.$toast(res.data.message)
      }
      console.log(res)
    }
  },
  created () {
    this.$setDocumentTitle('支付')
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss">
.payment{
  padding-top: 0.6rem;
  .payment-item{
    width: 6.9rem;
    height: 0.9rem;
    border-bottom: 0.02rem solid #F5F5F5;
    .payment-item-name{
      color: #605F5F;
    }
    img.area{
      width: 0.14rem;
      height: 0.24rem;
    }
    .payment-item-inner{
      flex: 1;
      color: #605F5F;
      input{
        width: 100%;
        font-size: 0.32rem;
        color: #605F5F;
        border: none;
        outline: none;
      }
    }
  }
  .payment-btn{
    height: 0.88rem;
    background-color: #F97369;
    border-radius: 0.5rem;
    width: 5.56rem;
    margin-top: 3rem;
    justify-content: center;
    img{
      width: 0.44rem;
      height: 0.4rem;
      margin-right: 0.2rem;
    }
  }
}
</style>
