<template>
  <div class="pay-result">
    <img src="../assets/images/59.png" alt=""/>
    <div class="bg-white" style="height: 1rem"></div>
  </div>
</template>
<script>
export default {
  name: 'pay-result',
  data () {
    return {}
  },
  mounted () {
    this.timer = setTimeout(() => this.$router.push('/share'), 2000)
  },
  methods: {},
  beforeDestroy () {
    if (this.timer) clearTimeout(this.timer)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss">
.pay-result{
  img {
    width: 100%;
  }
}
</style>
