<template>
  <div class="question">
    <div class="container-justf">
      <div class="f-size24" @click="previous"><template v-if="q !== 0">上一题</template></div>
      <div class="progress">
        <div class="progress-inner" :style="'width: 5.26rem'" v-if="(q + 1) === questionNumber"></div>
        <div class="progress-inner" :style="'width: ' + (q + 1)/questionNumber*5.26 + 'rem'" v-else></div>
      </div>
      <div>
        <span class="f-size26" style="color: #605F5F;">{{q + 1 > questionNumber ? questionNumber : q + 1}}</span>
        <span class="f-size20" style="color: #7D7C7C;">/{{questionNumber}}</span>
      </div>
    </div>
    <div class="f-size36 question-title text-center mar-center">{{questionObj.questionText}} <template v-if="questionObj.pageType === 2">（多选）</template></div>
    <div class="question-title-line mar-center"></div>
    <template v-if="questionObj.pageType === 0 || questionObj.pageType === 2">
      <div class="mar-center answer-item text-center" v-for="(i, j) in questionObj.option" v-bind:key="j"
           :class="{'answer-item-normal': !i.value, 'answer-item-active': i.value && i.value === i.id }" @click="choose(j, i)">
        {{i.option}} .{{i.content}}
      </div>
    </template>
    <template v-else-if="questionObj.pageType === 1">
      <div class="text-center input-box">
        <div class="container-align">
          <div class="input-number">
            <input @focus="scrollTop" v-model="number" @blur="inputBlur(questionObj)" @input="inputBlur(questionObj)" class="text-center f-size38" type="number"/>
            <div class="f-size28 unit" v-if="questionObj.sn === 'Q5'">cm</div>
            <div class="f-size28 unit" v-else-if="questionObj.sn === 'Q6'">kg</div>
          </div>
          <div class="input-box-btn" @click="confirmInput(questionObj)">
            <div class="text-center" :class="{ 'confirmed-input': isConfirmed }">✔</div>
          </div>
        </div>
        <div style="margin-top: 0.3rem" v-if="questionObj.sn === 'Q4'">适用年龄范围：18-70周岁</div>
        <div style="margin-top: 0.3rem" v-else-if="questionObj.sn === 'Q5' && bodyHeight">={{bodyHeight}}米</div>
        <div style="margin-top: 0.3rem" v-else-if="questionObj.sn === 'Q6' && bodyWeight">{{bodyWeight}}斤</div>
      </div>
    </template>
    <div class="text-center f-size24 color-7c remark" v-if="questionObj.remark">{{questionObj.remark}}</div>
    <div class="question-btn-beside" v-if="questionObj.pageType === 2">
      <div class="question-btn mar-center color-white text-center f-size36" @click="next" :class="{'gray-question-btn': len === 0}">确定</div>
    </div>
    <div style="height: 1.9rem"></div>
  </div>
</template>
<script>
import api from '../utils/api'
import http from '../utils/http'
export default {
  name: 'Question',
  data () {
    return {
      questionObj: {},
      isConfirmed: false,
      number: null,
      type: 0,
      bodyHeight: 0,
      bodyWeight: 0,
      q: 0,
      questionNumber: 0,
      timer: null,
      isJump: true,
      len: 0
    }
  },
  methods: {
    scrollTop () {
      window.scrollTo(0, 0)
    },
    beforeDestroy () {
      if (this.timer) clearTimeout(this.timer)
    },
    previous () {
      if (window.q === 9) {
        this.$router.push('/nutrition-target')
      } else {
        if (window.q) window.q--
        this.q = window.q
        this.questionObj = window.questionArr[window.q]
        if (this.questionObj.pageType === 1 && this.questionObj.inputVal) this.number = this.questionObj.inputVal
        if (this.questionObj.pageType === 2) {
          let arr = []
          window.questionArr[window.q].option.forEach((v) => {
            if (v.value) arr.push(v.value)
          })
          this.len = arr.length
        }
        if (this.questionObj.questionType !== this.type) {
          this.$router.push('/menu-question/' + this.questionObj.questionType)
        }
      }
    },
    inputBlur (questionObj) {
      this.scrollTop()
      if (questionObj.sn === 'Q6') {
        this.bodyWeight = Number(this.number) * 2
      } else if (questionObj.sn === 'Q5') {
        this.bodyHeight = (Number(this.number) / 100).toFixed(2)
      }
    },
    confirmInput (e) {
      if (!this.number) {
        this.$toast('请输入正确值')
        return
      } else if (e.sn === 'Q4' && (Number(this.number) < 18 || Number(this.number) > 70)) {
        this.$toast('不在适用年龄范围内')
        return
      } else if (e.sn === 'Q5' && (Number(this.number) > 300 || Number(this.number) < 20)) {
        this.$toast('身高不合理')
        return
      } else if (e.sn === 'Q6' && (Number(this.number) < 1 || Number(this.number) > 1000)) {
        this.$toast('体重不合理')
        return
      }
      if (!this.isJump) return
      this.isJump = false
      this.isConfirmed = true
      window.questionArr[window.q].inputVal = this.number

      this.timer = setTimeout(() => {
        if (window.q < window.questionArr.length - 1) {
          window.q++
          this.q = window.q
        } else {
          window.q = window.questionArr.length - 1
          this.q = window.q
        }

        this.questionObj = window.questionArr[window.q]
        this.number = null
        if (this.questionObj.pageType === 1 && this.questionObj.inputVal) this.number = this.questionObj.inputVal
        this.isConfirmed = false
        this.isJump = true
        if (e.sn === 'Q8') {
          this.$router.push('/nutrition-target')
        } else {
          this.$router.push('/question/' + this.questionObj.questionType + '/' + window.q)
          this.scrollTop()
        }
      }, 300)
    },
    choose (j, i) {
      if (window.questionArr[window.q]) {
        if (!this.isJump) return
        this.isJump = false
        // console.log(i)
        // console.log(window.otherList)
        if (i.sn === 'Q3' && window.otherList.length === 2) {
          // console.log(i)
          if (i.id === 6) {
            window.questionArr[6] = window.otherList[0]
          } else {
            window.questionArr[6] = window.otherList[1]
          }
        }
        if (window.questionArr[window.q].pageType !== 2 || i.option === 'Z' || i.option === 'Y') {
          window.questionArr[window.q].option = window.questionArr[window.q].option.map((value) => {
            delete value.value
            return value
          })
          console.log(window.questionArr[window.q].option)
        } else if (window.questionArr[window.q].pageType === 2 && i.option !== 'Z' && i.option !== 'Y') {
          let index = window.questionArr[window.q].option.findIndex(value => value.option === 'Z' || value.option === 'Y')
          if (index !== -1) delete window.questionArr[window.q].option[index].value
        }

        if (window.questionArr[window.q].option[j].value || (window.questionArr[window.q].pageType === 2 && window.questionArr[window.q].option[j].value && (i.option === 'Z' || i.option === 'Y'))) {
          delete window.questionArr[window.q].option[j].value
        } else {
          window.questionArr[window.q].option[j].value = i.id
        }
        if (window.questionArr[window.q].pageType === 2 && i.option !== 'Z' && i.option !== 'Y') {
          let arr = []
          let arr2 = []
          window.questionArr[window.q].option.forEach((v) => {
            if (v.value) arr.push(v.value)
            if (v.value && v.option !== 'Z' && v.option !== 'Y') arr2.push(v.value)
          })
          console.log(arr)
          this.len = arr.length
          if (arr2.length > 0) window.questionArr[window.q].value = arr2.join(',')
        } else {
          if (window.questionArr[window.q].pageType === 2) {
            this.len = 1
          } else {
            this.len = 0
          }
          window.questionArr[window.q].value = i.id
        }
        this.questionObj = {}
        this.questionObj = window.questionArr[window.q]

        this.timer = setTimeout(() => {
          if (window.q < window.questionArr.length) {
            if (window.questionArr[window.q].pageType !== 2) window.q++
            this.q = window.q
          }
          console.log(window.questionArr, i.sn, window.q)
          this.isJump = true
          if (window.q === window.questionArr.length) {
            this.$router.push('/order')
            return
          }
          if (window.questionArr[window.q]) {
            this.questionObj = window.questionArr[window.q]
            if (this.questionObj.pageType === 2) {
              let arr = []
              window.questionArr[window.q].option.forEach((v) => {
                if (v.value) arr.push(v.value)
              })
              console.log(arr)
              this.len = arr.length
            }
            if (i.sn === 'Q8') {
              this.$router.push('/nutrition-target')
            } else if (this.questionObj.questionType !== this.type) {
              this.$router.push('/menu-question/' + this.questionObj.questionType)
              this.questionObj = {}
            } else {
              if (Number(this.$route.params.q) === window.q) return
              this.$router.push('/question/' + this.questionObj.questionType + '/' + window.q)
              this.scrollTop()
            }
          }
        }, 300)
      }
    },
    next () {
      if (this.len === 0) {
        this.$toast('请选择')
        return
      }
      if (window.q < window.questionArr.length) {
        this.len = 0
        window.q++
        this.q = window.q
      }
      this.questionObj = window.questionArr[window.q]
      if (this.questionObj.pageType === 2) {
        let arr = []
        window.questionArr[window.q].option.forEach((v) => {
          if (v.value) arr.push(v.value)
        })
        console.log(arr)
        this.len = arr.length
      }
      if (window.q === window.questionArr.length) {
        this.$router.push('/order')
      } else if (this.questionObj.sn === 'Q8') {
        this.$router.push('/nutrition-target')
      } else if (this.questionObj.questionType !== this.type) {
        this.$router.push('/menu-question/' + this.questionObj.questionType)
        this.questionObj = {}
      } else {
        this.$router.push('/question/' + this.questionObj.questionType + '/' + window.q)
        this.scrollTop()
      }
    },
    async getData () {
      let res = await http.post(api.initQuestion)
      if (res.status === 200 && res.data && res.data.data) {
        let obj = res.data
        window.questionArrFirstHalf = obj.data
        window.questionArr = obj.data
        this.mergeArr()
        window.otherList = window.questionArr[6].otherList
        console.log(window.otherList)
      }
    },
    async getLastData () {
      let ids = ''
      window.chooseTarget.forEach((value, index) => {
        if (index === 0) ids = value.id
        else ids += ',' + value.id
      })
      let res = await http.post(api.getQ19Question, { ids })
      if (res.status === 200 && res.data && res.data.data) {
        window.questionArrSecondHalf = res.data.data
        window.questionArr = window.questionArrFirstHalf.concat(window.questionArrSecondHalf)
        this.mergeArr()
      }
    },
    mergeArr () {
      if (window.questionArr.length === 0) return
      this.q = window.q
      this.questionObj = {}
      this.questionObj = window.questionArr[window.q]
      if (this.questionObj.pageType === 2) {
        let arr = []
        window.questionArr[window.q].option.forEach((v) => {
          if (v.value) arr.push(v.value)
        })
        this.len = arr.length
      } else if (this.questionObj.pageType === 1 && this.questionObj.inputVal) {
        this.number = this.questionObj.inputVal
      }

      let m = window.questionArr.length
      this.questionNumber = m < 20 ? 40 : m
    }
  },
  created () {
    this.$setDocumentTitle('定制营养')
    if (!window.localStorage.getItem('name')) this.$router.push('/input-name')
    if (window.q !== -1) {
      if (window.q !== 0 && window.q >= window.questionArr.length) {
        window.q = window.questionArr.length - 1
      }
    } else {
      window.q = 0
      this.$router.push('/')
    }
    this.type = Number(this.$route.params.type)
    this.q = Number(this.$route.params.q)
    window.q = this.q
    console.log(window.q)
    this.mergeArr()
    if (window.questionArrFirstHalf.length === 0) {
      this.getData()
    } else if (window.questionArrSecondHalf.length === 0 && window.chooseTarget.length > 0) {
      this.getLastData()
    } else {
      if (window.q === 9 && window.questionArr[window.q].option.length === 0) {
        window.questionArr[window.q].option = window.chooseTarget
      }
    }
    console.log(window.q)
  },
  beforeRouteUpdate (to, from, next) {
    window.q = Number(to.params.q)
    this.mergeArr()
    next()
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss">
  .question{
    .remark{
      padding: 0.6rem 1rem;
    }
    padding-top: 1rem;
    .input-box{
      .container-align{
        justify-content: flex-end;
        margin-top: 0.3rem;
        .input-box-btn{
          width: 2.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          div.text-center{
            width: 0.6rem;
            height: 0.6rem;
            line-height: 0.6rem;
            border: 0.03rem solid #cccccc;
            border-radius: 50%;
            color: white;
            background-color: #cccccc;
          }
          div.text-center.confirmed-input{
            background-color: #F97369;
            border: 0.03rem solid #F97369;
          }
        }
        div.input-number {
          position: relative;
          .unit{
            position: absolute;
            right: 0.16rem;
            top: 0.36rem;
            font-weight: bold;
          }
          input.text-center {
            height: 1rem;
            width: 3rem;
            border: 0.03rem solid #cccccc;
            outline: none;
            border-radius: 0.6rem;
            color: #333333;
          }
        }
      }
    }
    .question-btn-beside {
      position: fixed;
      bottom: 1rem;
      width: 100%;
      left: 0;
      .question-btn {
        background-color: #F97369;
        line-height: 0.88rem;
        width: 3.92rem;
        border-radius: 0.45rem;
        margin-top: 0.3rem;
      }
      .gray-question-btn{
        background-color: #d9d9d9;
      }
    }
    .progress{
      width: 5.26rem;
      height: 0.26rem;
      background-color: #F5F5F5;
      margin: 0 0.1rem;
      border-radius: 0.14rem;
      overflow: hidden;
      .progress-inner{
        width: 1rem;
        height: 100%;
        background-color: #F97369;
      }
    }
    .question-title{
      width: 5.86rem;
      color: #494848;
      padding: 0.3rem 0;
      margin-top: 0.3rem;
    }
    .question-title-line{
      background-color: #F97369;
      width: 0.5rem;
      height: 0.08rem;
      border-radius: 0.06rem;
      margin-bottom: 0.6rem;
    }
    .answer-item{
      width: 5.24rem;
      line-height: 0.8rem;
      border-radius: 0.5rem;
      margin-top: 0.5rem;
    }
    .answer-item-active{
      border: 1px solid #EB7066;
      color: #F97369;
    }
    .answer-item-normal{
      border: 1px solid #AAAAAA;
      color: #636567;
    }

  }
</style>
