<template>
  <div class="share">
    <div class="share-btn">
      <div class="mar-center" @click="showShare"></div>
    </div>
    <div class="share-cover" v-if="showShareImg || showQuestion" @click="close"></div>
    <div class="share-img" v-if="showShareImg">
      <img class="mar-center" :src="imgSrc" alt=""/>
      <div class="share-img-btn mar-center f-size34 text-center">长按图片保存并分享</div>
    </div>
    <div class="customized-beside" v-if="showQuestion">
      <div class="customized bg-white mar-center" v-if="showQuestion">
        <div class="customized-inner mar-center">
          <div class="f-size32 customized-title container-align"><div class="customized-title-label"></div><div>亲爱的顾客:  </div></div>
          <br/>
          <br/>
          <br/>
          <div class="f-size28 text-gray">您好！</div>
          <br/>
          <br/>
          <div class="f-size28 text-gray">Nutri-Future的老用户可通过“分享有礼”功能分享优惠给好友;</div>
          <div class="f-size28 text-gray">同时获得Nutri-Future的现金红包。</div>
          <br/>
          <br/>
          <div class="f-size28 text-gray">快点加入我们Nutri-Future营养定制的大家庭吧！</div>
          <div class="customized-btn mar-center text-center" @click="startCustomized">开始定制</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import api from '../utils/api'
export default {
  name: 'share',
  data () {
    let wxId = this.$getQueryString('wxId')
    return {
      imgSrc: api.createImg + '?wxId=' + wxId,
      showShareImg: false,
      showQuestion: false,
      status: Number(this.$getQueryString('status'))
    }
  },
  methods: {
    close () {
      this.showShareImg = false
      this.showQuestion = false
    },
    showShare () {
      if (this.status === 1) {
        this.showShareImg = true
      } else if (this.status === 0) {
        this.showQuestion = true
      }
    },
    startCustomized () {
      this.$router.push('/')
    }
  },
  created () {
    this.$setDocumentTitle('分享')
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss">
  .share{
    width: 100%;
    height: 18.92rem;
    position: relative;
    background-image: url("../assets/images/60.png");
    background-size: cover;
    .share-btn{
      position: absolute;
      top: 10.89rem;
      left: 0;
      width: 100%;
      div.mar-center{
        width: 3.7rem;
        height: 0.88rem;
      }
    }
    .share-cover{
      background-color: black;
      opacity: 0.8;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .share-img{
      position: absolute;
      top: 0.6rem;
      width: 7.5rem;
      left: 50%;
      margin-left: -3.75rem;
      img{
        display: block;
        width: 6.24rem;
        height: 12rem;
      }
      .share-img-btn{
        height: 0.88rem;
        line-height: 0.88rem;
        width: 3.7rem;
        /*
        background-color: #F97369;
        */
        border-radius: 0.5rem;
        color: white;
        margin-top: 0.3rem;
        font-weight: 600;
      }
    }
    .customized-beside {
      position: absolute;
      top: 0.8rem;
      width: 100%;
      border-radius: 0.1rem;
      .customized {
        width: 6.24rem;
        height: 9.8rem;
        .customized-inner{
          width: 4.84rem;
          padding-top: 0.7rem;
          .f-size28.text-gray{
            color: #494848;
          }
          .customized-title{
            color: #494848;
            font-weight: bold;
            .customized-title-label{
              width: 0.1rem;
              height: 0.32rem;
              background-color: #F97369;
              margin-right: 0.2rem;
              border-radius: 0.06rem;
            }
          }
          .customized-btn{
            height: 0.88rem;
            line-height: 0.88rem;
            width: 3.7rem;
            background-color: #F97369;
            border-radius: 0.5rem;
            color: white;
            margin-top: 2rem;
          }
        }
      }
    }
  }
</style>
