<template>
  <div class="start-question">
    <div class="start-question-img">
      <img src="../assets/images/23.png" alt=""/>
    </div>
    <div class="text-center start-question-title">营养问卷</div>
    <div class="text-center f-size28 start-question-txt">本问卷由注册营养师团队设计</div>
    <div class="text-center f-size28 start-question-txt" style="margin-top: 0.1rem;">完成问卷大概需要5分钟</div>
    <div class="text-center f-size28 start-question-txt" style="margin-top: 0.1rem;">请根据最近三个月的状况填写</div>
    <div class="text-center start-question-btn mar-center color-white" @click="next">开始答题</div>
    <div style="height: 0.6rem"></div>
  </div>
</template>
<script>
export default {
  name: 'start-question',
  data () {
    return {
    }
  },
  mounted () {},
  methods: {
    next () {
      this.$router.push('/input-name')
    }
  },
  created () {
    this.$setDocumentTitle('定制营养')
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss">
.start-question{
  position: fixed;
  width: 7.5rem;
  top: 0;
  left: 50%;
  margin-left: -3.75rem;
  height: 100%;
  background-color: #FFF7F7;
  overflow-y: scroll;
  .start-question-img{
    width: 7.5rem;
    height: 7rem;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 7.93rem;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .start-question-title{
    font-size: 0.5rem;
    padding: 0.2rem 0;
  }
  .start-question-txt{
    color: #5C636D;
  }
  .start-question-btn{
    line-height: 0.88rem;
    background-color: #F97369;
    width: 3.92rem;
    border-radius: 0.45rem;
    margin-top: 0.3rem;
  }
}
</style>
