<template>
  <div class="swipe mar-center">
    <swiper :options="swiperOption" ref="mySwiper" @someSwiperEvent="callback">
      <!-- slides -->
      <swiper-slide>
        <div class="team-item container-justf">
          <img src="../assets/images/5.png" alt=""/>
          <div>
            <div class="f-size30 team-member-name">李科铮</div>
            <div class="f-size24 team-position">Nutri-Future CEO</div>
            <div class="f-size20 team-member-introduce" style="margin-top: 0.2rem">深圳市海外高层次人才</div>
            <div class="f-size20 team-member-introduce">中国神经变性病专业委员会委员</div>
            <div class="f-size20 team-member-introduce">广东省生物医学工程学会委员</div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="team-item container-justf">
          <img src="../assets/images/19.png" alt=""/>
          <div>
            <div class="f-size30 team-member-name">王诣天</div>
            <div class="f-size24 team-position">  </div>
            <div class="f-size20 team-member-introduce" style="margin-top: 0.2rem">国家注册营养师</div>
            <div class="f-size20 team-member-introduce">中国营养学会会员</div>
            <div class="f-size20 team-member-introduce">英国格拉斯哥人类营养学硕士</div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="team-item container-justf">
          <img src="../assets/images/1.png" alt=""/>
          <div>
            <div class="f-size30 team-member-name">陈普婷</div>
            <div class="f-size24 team-position">  </div>
            <div class="f-size20 team-member-introduce" style="margin-top: 0.2rem">国家注册营养师</div>
            <div class="f-size20 team-member-introduce">ISAK（国际标准）人体测量学会会员</div>
            <div class="f-size20 team-member-introduce">邦德大学营养硕士</div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="team-item container-justf">
          <img src="../assets/images/20.png" alt=""/>
          <div>
            <div class="f-size30 team-member-name">李允初</div>
            <div class="f-size24 team-position">  </div>
            <div class="f-size20 team-member-introduce" style="margin-top: 0.2rem">国家注册营养师</div>
            <div class="f-size20 team-member-introduce">天津大学生物学硕士</div>
            <div class="f-size20 team-member-introduce"></div>
          </div>
        </div>
      </swiper-slide>
      <!-- Optional controls -->
      <!--<div class="swiper-button-prev" slot="button-prev"></div>
      <div class="swiper-button-next" slot="button-next"></div>-->
      <!--<div class="swiper-scrollbar"   slot="scrollbar"></div>-->
    </swiper>
    <div class="swiper-pagination"  slot="pagination"></div>
  </div>
</template>
<script>
export default {
  name: 'swipe',
  data () {
    return {
      swiperOption: {
        // some swiper options/callbacks
        // 所有的参数同 swiper 官方 api 参数
        spaceBetween: 10,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      }
    }
  },
  computed: {
    swiper () {
      return this.$refs.mySwiper.swiper
    }
  },
  mounted () {
    // current swiper instance
    // 然后你就可以使用当前上下文内的swiper对象去做你想做的事了
    console.log('this is current swiper instance object', this.swiper)
    this.swiper.slideTo(0, 1000, false)
  },
  methods: {
    callback () {

    },
    async  login () {
      /* let res = await http.post(api.login, this.formData) */
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" type="text/scss">
  .swipe {
    position: relative;
    height: 3.5rem;
    width: 6.5rem;
    overflow: hidden;
    padding: 0 0.5rem 0.7rem 0.5rem;
    .swiper-slide{
      height: 3.06rem;
      background-color: #F2E8E5;
      border-radius: 0.06rem;
    }
    .swiper-container {
      overflow: visible;
    }
    .swiper-pagination{
      width: 6.5rem;
      margin-top: 0.5rem;
    }
    .swiper-pagination-bullet{
      margin-right: 5px;
      opacity: 1;
      background-color: #D2D2D2;
    }
    .swiper-pagination-bullet-active{
      background-color: #F97369;
      width: 16px;
      border-radius: 4px;
    }
    .team-item.container-justf{
      align-items: center;
      height: 100%;
      background-image: url("../assets/images/swiper-bg.png");
      background-size: cover;
      img{
        height: 1.8rem;
        width: 1.8rem;
        margin-right: 0.3rem;
      }
      .team-member-name{
        color: #F97369;
      }
      .team-position{
        color: #504D4D;
        margin-top: 0.1rem;
      }
      .team-member-introduce{
        color: #514E4E;
      }
    }
  }
</style>
