*{ padding: 0;margin: 0; }

html {
  color: #000;
  background: #ffffff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: calc(100 * (100vw / 750));
}
body {
  font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
  max-width: 640px;
  margin: 0 auto;
}

body { background-color: #fff;font-size: 0.28rem; }
.container {  display: flex;  flex-direction: row;  }
.container-align {  display: flex;  flex-direction: row;align-items: center;  }
.container-justf {  display: flex;  flex-direction: row;justify-content: center;  }
.mar-center {  margin: 0 auto;  }
.text-center {  text-align: center;  }
.f-size10 {  font-size: .1rem;  }
.f-size16 {  font-size: .16rem;  }
.f-size20 {  font-size: .20rem;  }
.f-size24 {  font-size: .24rem;  }
.f-size26 {  font-size: .28rem;  }
.f-size28 {  font-size: .28rem;  }
.f-size30 {  font-size: .30rem;  }
.f-size32 {  font-size: .32rem;  }
.f-size34 {  font-size: .34rem;  }
.f-size36 {  font-size: .36rem;  }
.f-size38 {  font-size: .38rem;  }
.f-size40 {  font-size: .40rem;  }
.f-size46 {  font-size: .46rem;  }
.bg-white {  background-color: #fff;  }
.bg-black {  background-color: #000000;  }
.bg-f6 {  background-color: #f6f6f6;  }
.bg-f3 {  background-color: #f37213;  }
.color-white {  color: #fff;  }
.color-ccc {  color: #ccc;  }
.color-f6 {  color: #f6ffff;  }
.color-26 {  color: #262626;  }
.color-63 {  color: #616161;  }
.color-7c {  color: #7c7c7c;  }

