<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  beforeCreate () {
    if (this.$getQueryString('page') === 'share') {
      this.$router.push('/share')
    }
  }
}
</script>
